@import "./colors.css";

/** ********** Fonts ********** **/
* {
    font-family: "JetBrainsMonoNL Nerd Font", sans-serif;
    font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: rgba(0, 0, 0, 0.3); /* @base00; */
	color: @base07;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********** Custom ********** **/

#custom-menu {
	background-color: @base02;
	color: @base0E;
	font-size: 18px;
	border-radius: 0px 14px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 2px 8px 2px 8px;
}

#custom-power {
	background-color: @base03;
	color: @base07;
	font-size: 16px;
	border-radius: 10px;
	margin: 6px 6px 6px 0px;
	padding: 2px 8px 2px 8px;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
	background-color: @base0B;
	color: @base00;
	border-radius: 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px;
}
#idle_inhibitor.deactivated {
	background-color: @base09;
}

/** ********** Tray ********** **/
#tray {
	background-color: @base02;
	border-radius: 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mpd {
	color: @base07;
	font-size: 12px;
	font-weight: bold;
}
#mpd.disconnected {
	color: @base08;
}
#mpd.stopped {
	color: @base07;
}
#mpd.plabase0A {
	color: @base0C;
}
#mpd.paused {
}

#mpd.2 {
	border-radius: 10px 0px 0px 10px;
	margin: 6px 0px 6px 6px ;
	padding: 4px 6px 4px 10px;
}
#mpd.3 {
	margin: 6px 0px 6px 0px ;
	padding: 4px;
}
#mpd.4 {
	border-radius: 0px 10px 10px 0px;
	margin: 6px 6px 6px 0px ;
	padding: 4px 10px 4px 6px;
}
#mpd.2,#mpd.3,#mpd.4 {
	background-color: @base02;
	font-size: 14px;
}

/** ********** CPU ********** **/
#cpu {
	color: @base08;
}

/** ********** Memory ********** **/
#memory {
	color: @base0B;
}

/** ********** Disk ********** **/
#disk {
	color: @base0A;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	color: @base0B;
}
#pulseaudio.bluetbase0A {
	color: @base0C;
}
#pulseaudio.muted {
	color: @base08;
}

#pulseaudio.2 {
}
#pulseaudio.2.bluetooth {
}
#pulseaudio.2.muted {
}

/** ********** Backlight ********** **/
#backlight {
	color: @base0A;
}

/** ********** Battery ********** **/
#battery {
	color: @base0E;
}
#battery.charging {
}
#battery.plugged {
}
@keyframes blink {
    to {
        color: @base07;
    }
}
#battery.critical:not(.charging) {
	background-color: @base02;
}
#battery.2.critical:not(.charging) {
	background-color: @base03;
    color: @base09;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Airpods ********** **/
#custom-airpods.connected {
	color: @base0D;
}

#custom-airpods.disconnected {
	color: @base08;
}

/** ********** Network ********** **/
#network {
	color: @base0D;
}
#network.disconnected,#network.disabled {
	color: @base08;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Clock ********** **/
#cbase0A {
	color: @base0C;
}

/** ********** WLR Desktop ********** **/
#workspaces {
	background-color: @base02;
	border-radius: 10px;
	margin: 6px 0px 6px 6px ;
	padding: 0px 5px;
}
#workspaces button{
	color: @base07;
}
#workspaces button.active{
	color: @base0B;
}
#workspaces button.urgent{
	color: @base08;
}
#workspaces button.hidden{
	color: @base0A;
}

/** ********** Common style ********** **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network,
#custom-airpods,
#custom-pacman {
	background-color: @base02;
	border-radius: 10px 0px 0px 10px;
	margin: 6px 0px 6px 0px;
	padding: 4px 10px;
}

#backlight.2, 
#battery.2,
#clock.2,
#cpu.2,
#disk.2,
#memory.2,
#pulseaudio.2,
#network.2,
#custom-airpods.2,
#custom-pacman.2 
{
	background-color: @base03;
	color: @base07;
	font-size: 12px;
	font-weight: bold;
	border-radius: 0px 10px 10px 0px;
	margin: 6px 6px 6px 0px ;
	padding: 5px 6px 4px 6px;
}
